.products-container {
  min-height: 100vh;
  padding-top: 100px; 
  color: #ffffff;    
  background-color: #000000; 
}
.page-title{
  text-align:center;

}

.product-section h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.product-section p {
  color: #ccc; 
}